<div class="header border-bottom page-heading" style="background-color: #3c5ca7; color: #ffffff;display: flex;">
    <div class="col-sm-1" style="margin-top: 0px;">
        <app-weather></app-weather>
    </div>
    <div class="col-sm-9 text-center" style="margin-top: 5px;">
        <app-sign-in></app-sign-in>
    </div>
    <div class="col-sm-7 test-center" style="margin-top: 5px;">
        <app-sign-up></app-sign-up>
    </div>
</div>

<br>
<br>
<app-user></app-user>
<app-word></app-word>
<app-book></app-book>
